* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 20px;
}
.links {
    border: 2px solid black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
table {
    text-align: start
}
.bookInput {
    padding: 5px;
    margin: 10px 5px;
}
button:hover {
    cursor: pointer;
}